/* General */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  /* interlineado 75px */
}

h2 {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: white;
  padding: 5px 0
}

h3 {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  color: white;
  padding: 5px 0;
}

span {
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  color: #F4BA59;
}

.bold {
  font-weight: bold;
}

.vp {
  width: 100%;
  max-height: 100vh;
}

main {
  margin-top: 100px;
}

/* Header y nav */

.navbar {
  position: fixed;
  padding: 30px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.navbar-brand {
  padding-left: 9px;
}

.logo {
  width: 191px;
  height: 22px;
}

a.nav-link {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.navbar-collapse {
  text-align: center;
  justify-content: flex-end;
}

.dropdown-menu.show {
    display: block;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-item {
  text-align: center;
}

/* .dropdown-toggle::after {
  vertical-align: -0.745em;
  left: -48px;
} */


/* Section carousel hero */

.pic1, .pic2, .pic3, .pic4, .pic5 {
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

.pic1{
  background-image: url("../img/CrossoverTop.png");
  min-height: 100vh;
}

.pic2{
  background-image: url("../img/CrossoverTop2.png");
  min-height: 100vh;
}

.pic3{
  background-image: url("../img/CrossoverTop3.png");
  min-height: 100vh;
}

.pic4{
  background-image: url("../img/CrossoverTop4.png");
  min-height: 100vh;
}

.pic5{
  background-image: url("../img/CrossoverTop5.png");
  min-height: 100vh;
}


button {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.carouselContent {
  display: flex;
  flex-direction: column;
  position:absolute;
  padding: 45px 20px;
  width:100%;
  z-index: 100;
}

div.buttonContent {
  text-align: center;
  padding-top: 20px;
}

.btnht {
  width: 180px;
  box-shadow: 3px 3px 6px #0000004D;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  opacity: 1;
  font-size: 12px;
}

.violeta {
  background-color: #982C55;
  opacity: 0.80;
  z-index: 10;
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

/* Section black background */

div.black {
  background-color: #161616;
  height: 440px;
}




/* .crossoverTop {
  background-image: url("../img/CrossoverTop3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
} */


/* Media queries */

/* Cuando la resolucion sea mayor o igual a 768 va a pasar lo siguiente */
@media (min-width: 1024px) {

  /* General */

  h2 {
    font-size: 26px;
    padding: 40px 0
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  /* Header y nav */

  .navbar-brand {
    padding-left: 85px;
  }


  /* Section carousel hero */

  .carouselContent {
    display: flex;
    flex-direction: row;
    position:absolute;
    padding: 60px;
    padding-top: 50px;
    width:100%;
    z-index: 100;
  }

  div.text {
    padding-right: 100px;
    padding-left: 70px;
  }


  div.buttonContent {
    align-self: flex-end;
    padding-right: 70px;
  }

  .btnht {
    width: 180px;
    font-size: 14px;
  }

}
